.dark-navbar  {
	background-color: #0D0C0C;
	color: aliceblue;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 24px;
	padding: 10px;
	opacity: 0.5;
}
.typedString {
	min-height: 200px;
}
.cinzel  {
	font-family: 'Cinzel Decorative', cursive;	
}
.buttonOne  {
	opacity: 0.7;
	padding: 4px 5px 4px 5px;
}
.intro-panel {
	background: url('../images/blur.jpg') no-repeat;
	background-size:cover;
	min-height: 560px;
	min-width: auto;
}
.laravel  {
	font-family: 'Raleway', sans-serif;
}

.Shade {
		box-shadow: 0px 0px 5px black;
	}
	
.marketing-panel {
	background-color: #455A64;
	background-size: cover;
	padding: 0px 35px -10px 35px;
	font-family: monospace;
}
.sub-heading {
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	font-weight: 700;
	font-size: 26px;
	padding: 20px 5px 25px 5px;
	color: #FFFFFF;
}
.heading {
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	font-weight: 700;
	font-size: 28px;
	text-shadow: 0px 0.3px 2px black;
	padding-top: 30px;
}
.tpad {
	margin-top:120px;
	padding: 5px 5px 5px 5px;
}
.rubber {
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}
.lil-shade {
	box-shadow: 0px 0px 0.5px 2px black;
}
.neat {
	padding-top: 40px;
	color: black;
	font-size: 48px;
	font-family: 'Boogaloo', cursive;
	font-weight: 700;
	
}
.new {
	padding: 70px 10px 30px 10px;
	margin-top: 10px;
}
.padbot {
	padding-bottom: 30px;
}
.padtop {
	padding-top: 60px;
}
.padtop1 {
	margin-top: 50px;
	padding-top: 50px;
}
.things-done {
	background: url('../images/fire1.jpeg');
	
	padding: 10px 40px 20px 40px;
}
button{
	color: blanchedalmond;
	text-shadow: 0px 0px 3px black;
}
.shadow{
	text-shadow: 0px 0px 1px white;
}
.about-me {
	padding:  20px 40px 10px 40px;
	background-color: #212121;
}
.one {
	color: white;
	padding-left: 40px;
	padding-bottom: 10px;
}
.one_title {
	color: white;
	font-weight: 700;
	padding-left: 5px;
}
.title {
	color: white;
	font-weight: 700;
	padding-left: 5px;
	font-size: 20px;
}
.margin-left { padding-left: 65px; }
.text-size { padding-top: 35px; }

.right-text {
	font-size: 20px;
	padding:  0px 10px 10px 0px;
	color: white;
}
.left-text {
	font-size: 20px;
	padding:  0px 10px 10px 0px;
	color: white;
}
hr { color: white; }
li { list-style: none; }
.someInfo {
	text-shadow: 1px 1px 1px black;
	font-size: 20px;
	color: whitesmoke;
	font-family: 'Ubuntu', sans-serif;
	line-height: 25px;
}
.titleTwo  { font-family: 'Orbitron', sans-serif; }
.more-about-me  {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: white;
}
@media ( min-width: 250px ) {
	.marketing-panel {
		padding-bottom: 130px;
	}
}
